.cart-count-wrapp {
  display: flex;
  margin-top: 36px;
}
.cart-count-button {
  margin-right: 36px;
  font-size: 1.5rem;
  border: none;
  background-color: #fff;
  cursor: pointer;
}
.cart-count-quantity {
  margin-right: 36px;
  font-size: 1.5rem;
}
