.search-form {
  display: inline-flex;
  border: 1px solid rgba(231, 231, 231, 1);
  color: rgba(168, 168, 168, 1);
}
.serch-icon {
  font-size: 1.25rem;
  color: rgba(49, 48, 55, 1);
  margin: auto;
  padding: 10px 20px;
  cursor: pointer;
}

.search-input {
  width: 542px;
  padding: 10px 20px;
  border: 0;
  &:focus {
    outline: none;
  }
}
