.rating {
  display: flex;
  flex-direction: row-reverse;
}
.rating-item {
  color: rgba(231, 231, 231, 1);
  font-size: 1.3rem;
}
.rating[data-total-value="1"] .rating-item:nth-child(n + 5),
.rating[data-total-value="2"] .rating-item:nth-child(n + 4),
.rating[data-total-value="3"] .rating-item:nth-child(n + 3),
.rating[data-total-value="4"] .rating-item:nth-child(n + 2),
.rating[data-total-value="5"] .rating-item:nth-child(n + 1) {
  color: orange;
}
