.favorites-page {
  min-height: 100vh;
}
.favorites-page-title {
  margin-bottom: 48px;
  font-size: 3.5rem;
}
.favorites-wrapp-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 97px;
}
.favorites-wrapp-item-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 97px;
  color: rgba(49, 48, 55, 1);
}
.favorites-wrapp-item-img {
  background-color: rgba(215, 228, 253, 1);
  margin-right: 32px;
  img {
    width: 100%;
    height: 100%;
    margin: auto;
    overflow: hidden;
    object-fit: contain;
  }
}
.favorites-item-content {
  width: 256px;
  height: 192.18px;
  display: flex;
  flex-direction: column;
  margin-right: 330px;
}
.favorites-item-title {
  margin-bottom: 8px;
  width: 446px;
  font-size: 1.5rem;
}
.favorites-item-authors {
  margin-bottom: 24px;
  font-size: 1rem;
  font-family: "Helios";
  color: rgba(168, 168, 168, 1);
}
.favorites-item-price {
  font-size: 1.5rem;
  color: rgba(49, 48, 55, 1);
}
.favorites-page-icon {
  font-size: 1.5rem;
  color: #fc857f;
  cursor: pointer;
}
.favorites-item-price-wrapp {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
